@charset "utf-8";
/* CSS Document */

a,
.theme_color,
.sec-title .icon,
.sec-title .title,
.btn-style-three,
.documents a:hover,
.cat-list li a:hover,
.btn-style-one:hover,
.social-icon-one li a:hover,
.privacy-section .date,
.page-breadcrumb li a:hover,
.service-block .inner-box .icon,
.feature-block .inner-box .icon-box,
.service-block .inner-box:hover h4 a,
.feature-block .inner-box:hover h4 a,
.team-block .lower-content h5 a:hover,
.case-block .inner-box .lower-box h4 a:hover,
.main-menu .navigation > li > ul > li:hover > a,
.main-menu .navigation > li > ul > li > a:before,
.projects-block .inner-box .overlay-box .price,
.gallery-block .image-box .link-arrow:hover,
.news-block .inner-box .content h4 a:hover,
.main-footer .footer-list li a:hover,
.news-widget-block .widget-inner h3 a:hover,
.main-footer .contact-list li a,
.agent-info-list li a:hover,
.agent-info-list li .icon,
.main-footer .contact-list li .icon,
.form-group .ui-button .ui-icon:before,
.sidebar .search-box .form-group button,
.agent-detail .inner-box .social-icons li a:hover,
.news-block .inner-box .post-meta li a .icon,
.news-block .inner-box .content .read-more:hover,
.projects-block .inner-box .overlay-box h5 a:hover,
.property-block .inner-box .lower-content h4 a:hover,
.main-menu .navigation > li > ul > li > ul > li:hover > a,
.main-menu .navigation > li > ul > li > ul > li > a:before,
.property-block .inner-box .lower-content .property-info li i,
.testimonial-block .content-column .inner-column .quote-icon,
.investment-section .content-column .author-box .box-inner span,
.properties-detail .inner-box .location:before,
.list-style-three li:before,
.properties-detail .property-detail-box .property-info li i,
.testimonial-block-two .inner-box .author-box .box-inner .designation,
.sticky-header .main-menu .navigation > li:hover > a,
.sticky-header .main-menu .navigation > li.current > a,
.agent-detail .inner-box .upper-box .info-column .title,
.recent-properties .post .location,
.list-style-two li:before,
.recent-properties .post:hover h3 a,
.property-block-two .tags li a,
.property-block-two .lucation,
.property-block-two h5 a:hover,
.message-box .date,
.blog-detail-section .upper-box .post-info li .icon,
.blog-detail-section .upper-box .post-date span,
.property-block-two .tags li,
.property-block-two .property-info li i,
.styled-pagination li.prev a:hover,
.styled-pagination li.next a:hover,
.contact-widget ul li .icon,
.property-block-three h4 a:hover,
.checkout-page .default-links li a,
.property-block-three .property-info li i,
.shop-page .basic-details .item-price,
.blog-detail-section .inner-box blockquote .quote-icon,
.shop-page .basic-details .details-header .rating span,
.dashboard-section .dashboard-header .dashboard-nav li.active a,
.dashboard-section .dashboard-header .dashboard-nav li a:hover,
.projects-detail-section .content-column .info-list li span,
.shop-item .inner-box .lower-box .upper-box h4 a:hover,
.shop-item .inner-box .lower-box .lower-content .price,
.comment-box .comment .comment-inner .post-date,
.shop-comment-form .rating-box .rating a:hover,
.news-block-two .inner-box .lower-content .read-more:hover,
.news-block-two .inner-box .lower-content .post-meta li a .icon,
.news-block-two .inner-box .lower-content .upper-box h4 a:hover,
.blog-detail-section .lower-box .comments-area .comment-info .comment-time,
.submit-property-section .submit-property-header-section .dashboard-nav li.active a,
.submit-property-section .submit-property-header-section .dashboard-nav li a:hover{
	color:#bb54e1;
}

/* Background Color */

.clock-hour,
.main-header,
.btn-style-one,
.banner-section,
.btn-style-two,
.clock-minute,
.sidebar-title h4,
.main-footer .footer-bottom,
.search-popup .close-search,
.case-block .inner-box .image,
.more-services a:hover,
.case-block .inner-box .lower-box:before,
.cases-section .owl-dots .owl-dot.active,
.cases-section .owl-dots .owl-dot:hover,
.fact-counter .column .inner .icon:after,
.video-box .overlay-box span,
.news-block .inner-box .image,
.privacy-section .privacy-list li:before,
.gallery-block .image-box .link-arrow,
.shop-item .inner-box .off-price,
.projects-block .inner-box .overlay-box .category,
.property-block .inner-box .upper-box:before,
.property-block .inner-box .image .featured,
.property-block .inner-box .image .overlay-box li,
.testimonial-section .owl-nav .owl-prev:hover,
.testimonial-section .owl-nav .owl-next:hover,
.news-block .inner-box .image .post-date,
.blog-section .owl-nav .owl-prev:hover,
.blog-section .owl-nav .owl-next:hover,
.save-money-section .average-column .inner-column,
.main-footer .logo-widget .social-icons li a:hover,
.accordion-box .block .acc-btn.active,
.main-footer .footer-widget .footer-title .separator:after,
.save-money-section .pricing-column .skill-bar .bar-inner .bar,
.investment-section .images-column .experiance-box .box-inner,
.styled-pagination li.next a:hover,
.styled-pagination li.prev a:hover,
.styled-pagination li a:hover,
.styled-pagination li.active a,
.click-indicator div:nth-child(3),
.click-indicator div:nth-child(6),
.click-indicator div:nth-child(9),
.click-indicator div:nth-child(12),
.recent-properties .post-thumb .status,
.ui-state-active, .ui-widget-content .ui-state-active,
.coming-soon .emailed-form .form-group input[type="submit"],
.coming-soon .emailed-form button,
.shop-item .inner-box .lower-box .lower-content .cart-btn,
.property-block-two .image-box .featured,
.property-block-two .property-price .read-more,
.property-block-two .image-box .for,
.blog-cat li.active a, .blog-cat li a:hover,
.brochures-widget .files li a:hover,
.message-box .thumb-box .reply-btn:hover,
.cart-table .cart-header,
.cart-section .coupon-btn,
.error-section .inner-section,
.cart-section .totals-table li:first-child,
.blog-detail-section .lower-box .comments-area .blog-comment-box .theme-btn,
.property-search-form .range-slider-one .ui-slider .ui-slider-range,
.property-widget-tabs .property-tabs .tab-btns .tab-btn:hover,
.property-widget-tabs .property-tabs .tab-btns .tab-btn.active-btn,
.services-single .service-tabs .tab-btns .tab-btn:before,
.services-single .services-gallery .owl-dots .owl-dot:hover,
.services-single .services-gallery .owl-dots .owl-dot.active,
.comments-tab .tab-buttons .tab-btn:hover,
.shop-page .product-info-tabs .prod-tabs .tab-btns .tab-btn.active-btn,
.property-block-three .inner-box .upper-box:before,
.property-block-three .inner-box .image .featured,
.property-block-three .inner-box .image .overlay-box li,
.check-box input[type="checkbox"]:checked + label:before,
.shop-item .inner-box .image-box,
.news-block-two .inner-box .image,
.contact-box .inner-box h4:before,
.contact-box .inner-box:before,
.news-block-two .inner-box .lower-content .upper-box .separator:before,
.news-block-two .inner-box .lower-content .date-box,
.comments-tab .tab-buttons .tab-btn.active-btn{
	background-color:#bb54e1;
}

.team-block .image .overlay-box:before{
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, #bb54e1 100%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #bb54e1 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%, #bb54e1 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0)), color-stop(100, #bb54e1));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #bb54e1 100%);
	background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #bb54e1 100%);
}

.property-block .inner-box .image:before{
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(187,84,225,.7) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(187,84,225,.7) 100%);
}

/* Border Color */

.more-services a:hover,
.service-block .inner-box:hover,
.service-block .inner-box .border-box,
.investment-section .images-column .border-layer,
.cases-section .owl-dots .owl-dot.active,
.cases-section .owl-dots .owl-dot:hover,
.feature-block .inner-box .icon-box .border-box,
.testimonial-block .content-column .inner-column .quote-icon,
.testimonial-section .owl-nav .owl-prev:hover,
.testimonial-section .owl-nav .owl-next:hover,
.news-block .inner-box .border-box,
.blog-section .owl-nav .owl-prev:hover,
.blog-section .owl-nav .owl-next:hover,
.blog-cat li.active a, .blog-cat li a:hover,
.main-footer .logo-widget .social-icons li a:hover,
.blog-detail-section .inner-box blockquote .quote-icon,
.save-money-section .pricing-column .skill-bar .bar-inner .bar:before,
.default-form .form-group input[type="text"]:focus,
.default-form .form-group input[type="password"]:focus,
.default-form .form-group input[type="tel"]:focus,
.default-form .form-group input[type="email"]:focus,
.default-form .form-group select:focus,
.brochures-widget .files li a:hover,
.default-form .form-group textarea:focus,
.ui-state-active, .ui-widget-content .ui-state-active,
.property-search-form .form-group input:focus,
.property-search-form .form-group select:focus,
.property-search-form .form-group textarea:focus,
.property-search-form .range-slider-one .ui-state-default,
.property-search-form .range-slider-one .ui-widget-content .ui-state-default,
.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.check-box input[type="checkbox"]:checked + label:before,
.check-box input[type="checkbox"]:checked + label,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus,
.shop-form input:focus,
.shop-form select:focus,
.shop-form textarea:focus,
.styled-form input:focus,
.styled-form select:focus,
.styled-form textarea:focus,
.contact-form .form-group input[type="text"]:focus,
.contact-form .form-group input[type="tel"]:focus,
.contact-form .form-group input[type="email"]:focus,
.contact-form .form-group textarea:focus{
	border-color:#bb54e1;
}

.back-to-top::after{
	border-bottom-color:#bb54e1;
}

.property-block-two .image-box .featured:before{
	border-top-color:#bb54e1;
}

.faq-section .images-column .circle-layer,
.choose-section .video-column .circle-layer{
	filter: grayscale(100%);
}